{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
{#    <link href="{% static 'styles/contact.css' %}" rel="stylesheet">#}
{% endblock %}


{% block content %}


    <div class="container">

    <div class="row">

        <div class="col-12">
            <h3 class="text-dark text-center display-5 my-5">eCare: How to book appointment?</h3>
        </div>

        <div class="col-sm-12 col-md-6 my-3">
            <p class="lead"> <b>An easy guide to appointment on eCare portal.</b>  <br> Head over to eCare homepage. You'll be see a nice looking responsive website which is showing
            some informational images as a slider. On scrolling down you'll see live status of covid cases after that vaccination stats are also present.
            Just below the vaccination entire appointment section is present. One card contains Appointment Zone where you can book an doctor as per your health concers.
            While on the other hand, Covid Test appointment card is present on clicking to that card you can visit covid test zone where you can schedule your covid tests.
            After making an appointment you'll receive a call or email from our staff shortly for more informations.</p>
        </div>
        <div class="col-sm-12 col-md-1"></div>
        <div class="col-sm-12 col-md-5 my-3">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/4baPyZvfiz4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>

    </div>

    </div>

{% endblock %}